{% extends 'layouts/box.html' %}

{% block mobile_title %}Edit profile{% endblock %}

{% block content %}

{% if onboarding %}
<h1 class="mb-4 dark:text-slate-100">Complete your Profile</h1>
{% else %}
<h1 class="mb-4 dark:text-slate-100">Edit your Profile</h1>
{% endif %}

<div class="text-center flex flex-col items-center">
    <img id="avatar" class="w-36 h-36 rounded-full object-cover my-4" src="{{ user.profile.avatar }}" />
    <div class="text-center max-w-md">
        <h1 id="displayname">{{ user.profile.displayname|default:"" }}</h1>
        <div class="text-gray-400 mb-2 -mt-3">@{{ user.username }}</div>
    </div>
</div>
<form method="POST" enctype="multipart/form-data" class="space-y-4" autocomplete="off">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="text-sm text-red-600" dir="rtl">{{ form.non_field_errors }}</div>
    {% endif %}

    {% for field in form %}
        <div class="space-y-1">
            <label class="block text-sm font-medium text-gray-700 dark:text-slate-300" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="text-sm text-red-600" dir="rtl">{{ field.errors }}</div>
            {% endif %}
            {% if field.help_text %}
                <div class="text-xs text-gray-500 dark:text-slate-400" dir="rtl">{{ field.help_text }}</div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="button">Submit</button>
    {% if onboarding %}
    <a class="ml-3 text-sm font-medium text-gray-500 hover:text-gray-900 dark:text-slate-300 dark:hover:text-white" href="{% url 'home' %}">Skip</a>
    {% else %}
    <a class="ml-3 text-sm font-medium text-gray-500 hover:text-gray-900 dark:text-slate-300 dark:hover:text-white" href="/">Cancel</a>
    {% endif %}
</form>




<script>
    
    // This updates the avatar
    const fileInput = document.querySelector('input[type="file"]');

    fileInput.addEventListener('change', (event) => {
    const file = event.target.files[0];
    const image = document.querySelector('#avatar');

    if (file && file.type.includes('image')) {
        const url = URL.createObjectURL(file);
        image.src = url;
    }
    });

    // This updates the name
    const display_nameInput = document.getElementById('id_displayname');
    const display_nameOutput = document.getElementById('displayname');

    display_nameInput.addEventListener('input', (event) => {
        display_nameOutput.innerText = event.target.value;
    });

</script>

{% endblock %}
